@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: poppins;
}
.isi {
  transform: translate(60%, -60%);
}

.welcoming {
  margin-left: 30%;
  margin-right: 30%;
  transform: translate(20%, -30%);
}

.gambar {
  transform: translate(5%, 60%);
}

.spinner {
  text-align: center;
}

.card-body {
  text-align: center;
}

.gambarsd {
  transform: translate(122%, -10%);
  width: 31%;
}
.gambarsmp {
  transform: translate(120%, -5%);
  width: 30%;
  margin-bottom: 2%;
}

.gambarsma {
  transform: translate(90%, 10%);
  margin-bottom: 2%;
  width: 35%;
  padding-bottom: 9%;
}

.card-group {
  color: black;
  border-radius: 10px;
  background-color: brown;
  width: 70%;
  text-align: center;
  transform: translate(23%, 0%);
  margin-bottom: 15%;
}

.card-body {
  color: black;
}

.card-title {
  color: black;
}

.judulcard1 {
  margin-top: 10%;
  color: black;
  font-weight: bold;
}

.judulcard2 {
  margin-top: -15%;
  font-weight: bold;
}

.judulcard3 {
  margin-top: -15.8%;
  font-weight: bold;
}

.interest1 {
}

.interest2 {
  transform: translate(60%, -109%);
}

form {
  margin-left: 50%;
  width: 40%;
  margin-top: -35%;
}

.gambarletter {
  width: 2%;
}

.copyright {
  margin-top: 15%;
}

.ocean1 {
  margin-top: -10%;
}

.tulisanku,
footer {
  background-color: #2a6990;
}
